<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subject</h4>
                <p *ngIf="!isupdate" class="card-description">
                    Add New Question
                </p>
                <form [formGroup]="myform" class="forms-sample" (submit)="onSubmit()">
                    

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="levelName">Paper Type</label>
                            <ng-select formControlName="papertype" [items]="papertypes"></ng-select>
                            <div *ngIf="submitted && f.papertype.errors" class="error">
                                <div *ngIf="f.papertype.errors.required">Please select level</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subjectName">Subject Name</label>
                            <ng-select formControlName="subjectid" [items]="allsubjects" bindLabel="title" autofocus
                                bindValue="id" (change)="getSubjectChapters();getChaptersData();">
                                <ng-template ng-header-tmp>
                                    <a [routerLink]="" (click)="showAddNewModal('subject')" class="btn btn-link">Add Subject</a>
                                    <!-- <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button> -->
                                </ng-template>
                            </ng-select>
                            <div *ngIf="submitted && f.subjectid.errors" class="error">
                                <div *ngIf="f.subjectid.errors.required">Please select subject</div>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="f.papertype.value == 'Chapterwise'">
                            <label for="chapterName">Chapter Name</label>
                            <ng-select formControlName="chapterid" [items]="allchapters" bindLabel="title" autofocus
                                bindValue="id">
                                <ng-template ng-header-tmp>
                                    <a [routerLink]="" (click)="showAddNewModal('chapter')" class="btn btn-link">Add chapter</a>
                                    <!-- <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button> -->
                                </ng-template>
                            </ng-select>
                            <div *ngIf="submitted && f.chapterid.errors" class="error">
                                <div *ngIf="f.chapterid.errors.required">Please select chapter</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="chapterName">Random Question Selection</label>
                            <input type="text" formControlName="noofquestions" placeholder="Enter number of questions" class="form-control"/>
                            <div *ngIf="submitted && f.chapterid.errors" class="error">
                                <div *ngIf="f.chapterid.errors.required">Please select chapter</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Generate Random</button>
                    <button class="btn btn-light" (click)="resetForm()">Cancel</button>
                </form>           
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Questions</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Chapter</th>
                                <th>Total Questions</th>
                                <th>Available Questions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chd of allChapData; let idx = index;">
                                <td>{{ idx+1 }}</td>
                                <td>{{ chd.title }}</td>
                                <td>{{ chd.total_questions}}</td>
                                <td>{{ chd.available_ques_count}}</td>
                                <td>
                                    <label *ngIf="!chd.selected" class="badge badge-success" (click)="selectQuesManual(chd.id)">Add</label>
                                <label *ngIf="chd.selected" class="badge badge-danger" (click)="removeSelectedQues(chd.id)">Unselect</label></td>
                            </tr>
                            <tr *ngIf="allChapData.length == 0"> 
                                <td colspan="2">No data</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
    </div>

</div>