<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subject</h4>
                <p class="card-description">
                    Add New Question
                </p>
                <form [formGroup]="myform" class="forms-sample" (submit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subjectName">Subject Name</label>
                                <ng-select formControlName="subjectid" [items]="allsubjects" bindLabel="title" autofocus
                                    bindValue="id" (change)="getSubjectChapters($event)">
                                    <ng-template ng-header-tmp>
                                        <a [routerLink]="" (click)="showAddNewModal('subject')" class="btn btn-link">Add Subject</a>
                                        <!-- <button (click)="unselectAll()" class="btn btn-sm btn-secondary">Unselect all</button> -->
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="submitted && f.subjectid.errors" class="error">
                                    <div *ngIf="f.subjectid.errors.required">Please select subject</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="chapterName">Chapter Name</label>
                                <ng-select formControlName="chapterid" [items]="allchapters" bindLabel="title"
                                    bindValue="id" (change)="getChapterTopics($event)">
                                    <ng-template ng-header-tmp>
                                        <a [routerLink]="" (click)="showAddNewModal('chapter')" class="btn btn-link">Add Chapter</a>
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="submitted && f.chapterid.errors" class="error">
                                    <div *ngIf="f.chapterid.errors.required">Please select chapter</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="topicName">Topic Name</label>
                                <ng-select formControlName="topicid" [items]="alltopics" bindLabel="title"
                                    bindValue="id" (change)="getSubTopics($event)">
                                    <ng-template ng-header-tmp>
                                        <a [routerLink]="" (click)="showAddNewModal('topic')" class="btn btn-link">Add Topic</a>
                                    </ng-template>
                                </ng-select>
                                <div *ngIf="submitted && f.topicid.errors" class="error">
                                    <div *ngIf="f.topicid.errors.required">Please select topic</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="subtopicName">Sub Topic Name</label>
                                <ng-select formControlName="subtopicid" [items]="allsubtopics" bindLabel="title"
                                 bindValue="id">
                                 <ng-template ng-header-tmp>
                                    <a [routerLink]="" (click)="showAddNewModal('subtopic')" class="btn btn-link">Add Subtopic</a>
                                </ng-template>
                            </ng-select>
                                <div *ngIf="submitted && f.subtopicid.errors" class="error">
                                    <div *ngIf="f.subtopicid.errors.required">Please select subtopic</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="levelName">Level Name</label>
                                <ng-select formControlName="levelid" [items]="alllevels" bindLabel="title"
                                    bindValue="id"></ng-select>
                                <div *ngIf="submitted && f.levelid.errors" class="error">
                                    <div *ngIf="f.levelid.errors.required">Please select level</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="question">Question</label>
                        <ckeditor formControlName="question" [editor]="editor" data="<p>Hello, world!</p>"></ckeditor>
                        <!-- <textarea formControlName="question" class="form-control" >Enter solution</textarea> -->
                        <div *ngIf="submitted && f.question.errors" class="error">
                            <div *ngIf="f.question.errors.required">Please enter question</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">A</span>
                            </div>
                            <input type="text" class="form-control" placeholder="option" aria-label="option" formControlName="option_a">
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">B</span>
                            </div>
                            <input type="text" class="form-control" placeholder="option" aria-label="option" formControlName="option_b">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">C</span>
                            </div>
                            <input type="text" class="form-control" placeholder="option" aria-label="option" formControlName="option_c">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-primary text-white">D</span>
                            </div>
                            <input type="text" class="form-control" placeholder="option" aria-label="option" formControlName="option_d">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="answerName">Answer</label>
                        <ng-select formControlName="answerid" [items]="allanswers" bindLabel="title" autofocus
                            bindValue="id"></ng-select>
                        <div *ngIf="submitted && f.answerid.errors" class="error">
                            <div *ngIf="f.answerid.errors.required">Please select answer</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="">Solution</label>
                        <textarea formControlName="solution" class="form-control" >Enter solution</textarea>
                        <div *ngIf="submitted && f.solution.errors" class="error">
                            <div *ngIf="f.solution.errors.required">Please select answer</div>
                        </div>
                    </div>


                    <button class="btn btn-light" (click)="resetForm()">Cancel</button>
                    <button type="submit" class="btn btn-primary mr-2">Save and Add New</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Questions</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <ag-grid-angular
                            style="width: 100%; height: 500px;"
                            class="ag-theme-alpine"
                            [rowData]="allquestions"
                            [columnDefs]="columnDefs"
                            >
                        </ag-grid-angular>
                    <!-- <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Subject</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="2">No Subjects added</td>
                            </tr>
                        </tbody>
                    </table> -->
                </div>
                <!-- <ngb-pagination *ngIf="allData.length > 0" [pageSize]="paginationData.per_page" (pageChange)="getAllData(type,$event)" [collectionSize]="paginationData.total" [(page)]="paginationData.current_page" aria-label="Default pagination"></ngb-pagination> -->
            </div>
        </div>
    </div>

</div>