<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Subject</h4>
                <p *ngIf="!isupdate" class="card-description">
                    Add New Subject
                </p>
                <p *ngIf="isupdate" class="card-description">
                    Edit Subject
                </p>
                <form *ngIf="!isupdate" [formGroup]="myform" class="forms-sample" (submit)="onSubmit()">
                    <div class="form-group">
                        <label for="subjectName">Subject Name</label>
                        <input type="text" formControlName="subjectname" class="form-control" id="subjectName" placeholder="Subject">
                        <div *ngIf="submitted && f.subjectname.errors" class="error">
                            <div *ngIf="f.subjectname.errors.required">Please enter subject name</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" (click)="resetForm()">Cancel</button>
                </form>

                <form *ngIf="isupdate" [formGroup]="myform" class="forms-sample" (submit)="updateData()">
                    <div class="form-group">
                        <label for="subjectName">Subject Name</label>
                        <input type="text" formControlName="subjectname" class="form-control" id="subjectName" placeholder="Subject">
                        <div *ngIf="submitted && f.subjectname.errors" class="error">
                            <div *ngIf="f.subjectname.errors.required">Please enter subject name</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">update</button>
                    <button class="btn btn-light" (click)="resetForm()">Cancel</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">All Subjects</h4>
                <p class="card-description">
                </p>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let subj of allData">
                                <td>{{ subj.title }}</td>
                                <!-- <td><label class="badge badge-success">Active</label></td> -->
                                <td><label class="badge badge-success" (click)="editData(subj.id)">Edit</label> | 
                                <label class="badge badge-danger" (click)="deleteData(subj.id)">Delete</label></td>
                            </tr>
                            <tr *ngIf="allData.length == 0"> 
                                <td colspan="2">No Subjects added</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ngb-pagination *ngIf="allData.length > 0" [pageSize]="paginationData.per_page" (pageChange)="getAllData(type,$event)" [collectionSize]="paginationData.total" [(page)]="paginationData.current_page" aria-label="Default pagination"></ngb-pagination>
            </div>
        </div>
    </div>

</div>