<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myform" class="forms-sample" (submit)="onSubmit()">
        <div class="form-group">
            <label for="chapterName">Topic Name</label>
            <ng-select formControlName="topicid" [items]="alltopics"
                bindLabel="title"
                autofocus
                bindValue="id" (change)="getTopicQuestions()"></ng-select>
            <div *ngIf="submitted && f.topicid.errors" class="error">
                <div *ngIf="f.topicid.errors.required">Please select topic</div>
            </div>
        </div>

        <div class="form-group">
            <label for="chapterName">No. of questions</label>
            <input formControlName="questionscount" class="form-control" placeholder="No. of Question for random selection"/>

            <div *ngIf="submitted && f.questionscount.errors" class="error">
                <div *ngIf="f.questionscount.errors.required">Please enter no. of questions</div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-danger mr-2">Random</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Action</th>
                <th>Sr.No.</th>
                <th>Question</th>
                <th>View</th>
                <th>Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chd of allQuestionsData; let idx = index;">
                <td><input type="checkbox" class="form-check-input"/></td>
                <td>{{ idx+1 }}</td>
                <td>{{ chd.question }}</td>
                <td><i class="mdi mdi-eye"></i></td>
                <td>{{ chd.level_title}}</td>
            </tr>
            <tr *ngIf="allQuestionsData.length == 0"> 
                <td colspan="2">No data</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>