<div class="modal-header">
    <h4 class="modal-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myform" class="forms-sample" (submit)="onSubmit()">
        <div class="form-group">
            <label for="chapterName">Subject Name</label>
            <ng-select formControlName="subjectid" [items]="allsubjects"
                bindLabel="title"
                autofocus
                bindValue="id"></ng-select>
            <div *ngIf="submitted && f.subjectid.errors" class="error">
                <div *ngIf="f.subjectid.errors.required">Please select subject</div>
            </div>
        </div>
        <div class="form-group">
            <label for="chapterName">Chapter Name</label>
            <input type="text" formControlName="chaptername" class="form-control" id="chapterName" placeholder="Chapter">
            <div *ngIf="submitted && f.chaptername.errors" class="error">
                <div *ngIf="f.chaptername.errors.required">Please enter chapter name</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>