<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="https://www.vpacetech.com/" target="_blank">VPACE Technologies</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"><i class="mdi mdi-phone"></i> 99706 09808 <i class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>