<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-circle-outline menu-icon"></i>
          <span class="menu-title">Master</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" [ngClass]="router.url === '/subjects' ? 'active' :''" routerLink="/subjects">Subjects</a></li>
            <li class="nav-item"> <a class="nav-link" [ngClass]="router.url === '/chapters' ? 'active' :''" routerLink="/chapters">Chapters</a></li>
            <li class="nav-item"> <a class="nav-link" [ngClass]="router.url === '/topics' ? 'active' :''" routerLink="/topics">Topics</a></li>
            <li class="nav-item"> <a class="nav-link" [ngClass]="router.url === '/sub-topics' ? 'active' :''" routerLink="/sub-topics">Sub-Topics</a></li>
            <li class="nav-item"> <a class="nav-link" [ngClass]="router.url === '/questions' ? 'active' :''" routerLink="/questions">Question Bank</a></li>
          </ul>
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="pages/forms/basic_elements.html">
          <i class="mdi mdi-view-headline menu-icon"></i>
          <span class="menu-title">Form elements</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="mdi mdi-account menu-icon"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/login-2.html"> Login 2 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/register-2.html"> Register 2 </a></li>
            <li class="nav-item"> <a class="nav-link" href="pages/samples/lock-screen.html"> Lockscreen </a></li>
          </ul>
        </div>
      </li> -->
    </ul>
  </nav>