<div class="modal-header">
    <h4 class="modal-title">Add New Subject</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="myform" class="forms-sample" (submit)="onSubmit()">
        <div class="form-group">
            <label for="subjectName">Subject Name</label>
            <input type="text" formControlName="subjectname" class="form-control" id="subjectName" placeholder="Subject">
            <div *ngIf="submitted && f.subjectname.errors" class="error">
                <div *ngIf="f.subjectname.errors.required">Please enter subject name</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>